version: "3.9"
services:
  database:
    image: mariadb:10.9.8
    container_name: mysql-mariadb
    ports:
      - "33066:3306"
    environment:
      - MYSQL_USER=root
      - MYSQL_PASSWORD=DAA
      - MYSQL_ROOT_PASSWORD=DAA
      - MYSQL_DATABASE=links
    volumes:
      - ./database:/var/lib/mysql
    networks:
      - backend
    restart: unless-stopped
  api:
    build: ./api
    image: python:3.11.14
    container_name: python-fastapi
    ports:
      - "8443:8000"
    volumes:
      - ./api/app:/app
    networks:
      - backend
      - frontend
    restart: unless-stopped
  web:
    image: nginx:1.29.3
    container_name: nginx-webserver
    ports:
      - "80:8080"
    environment:
      - NGINX_PORT=8080
    volumes:
      - ./web:/www/var/html
    networks:
      - frontend
    restart: unless-stopped

networks:
  backend:
    name: secure
    driver: bridge
  frontend:
    name: dmz
    driver: bridge
